body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    min-height: 100%;
    min-height: 100vh;
    background-color: #5e646b;
    overflow-x: hidden;
}

a,
a:hover {
    color: inherit;
    text-decoration: none;
}

/* nav and footer  */

.brand-logo {
    width: 117px;
    height: 46px;

}

.social-media {
    display: inline-block;
    font-size: 15pt;
    color: #FBFBFB;
    transition: color 0.5s ease;
    text-align: right;
    letter-spacing: 10px;

}

.page-footer {
    background-color: #343A40;
    height: auto;
    width: 100%;
margin-top: 10px;
    right: 0;
    bottom: 0;
    left: 0;

}




.footer-items {

    color: white;
    font-size: 9px;
}

.mobile-hide-footer {
    display: none;
}






/* desktop  */

@media only screen and (min-width: 768px) {
    .brand-logo {
        width: 250px;
        height: 86px;
    }

    .mobile-hide-footer {
        display: inline-block;
    }
    .social-media {
        display: inline-block;
        font-size: 30pt;
        color: #FBFBFB;
        padding-right: 15px;
        padding-left: 15px;
        letter-spacing: 5px;
    }

    .footer-logo {
        width: 117px;
        height: 46px;


    }

    .footer-items {
        padding-top: 20px;

        font-size: 12px;
    }

    .navbar a:hover {
        color: #FF0101 !important;

    }

    .navbar a {
        transition: color 0.5s ease;
    }

    .social-media:hover {
        color: #FF0101;


    }
}

@media only screen and (min-width: 1024px) {
    .social-media {
        display: inline-block;
        font-size: 40pt;
        color: #FBFBFB;
        padding-right: 15px;
        padding-left: 15px;

    }
}

/* index  */

#responsive-image {
    width: 100%;
    height: auto;
}

#section-bg {
    /* background-color: #343A40; */
    height: auto;
}




.home-text {
font-size: 20px;

    margin-left: 50px;
    margin-right: 50px;
}

.home-text-container {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 30px 0px;
    -webkit-box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);
    box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);
}

.home-items {
    background-color: #5e646b;
    color: white;

}
.section-headings {
    background-color :#ff5a36;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
 .video-latest {
     padding-top: 5px;
 }
 
.heading-nopad {
    padding-right: 0px !important;
    padding-left: 0px !important;
    overflow: hidden;
}
.section-text {
    color: #fff;
}

.event-2, .event-1, .event-3 {
    padding-bottom: 20px;
    padding-top :10px;
}

.event-1 {
    background: url(/assets/images/christmass.jpg) no-repeat center center fixed;
    height: auto;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    align-items: center;
   
    position: relative;
    background-attachment: scroll;
    
}
.event-2 {
  
    background: url(/assets/images/scarecrow.jpg) no-repeat center center fixed;
    width: 100%;
    height:auto;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    align-items: center;
   
    position: relative;
    background-attachment: scroll;
}

.event-3 {
    
    background: url(/assets/images/scarecrow.jpg) no-repeat center center fixed;
    width: 100%;
    height:auto;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    align-items: center;
   
    position: relative;
    background-attachment: scroll;
}



.index-section-bg {
    background-image: url(/assets/images/bg.png);
    
}


@media only screen and (min-width: 758px) {
    .home-text {
        font-size: 40px;
    }
}

/* bg  */

.section-bg-img {
    height: 70vh;

    background: url('../images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-attachment: scroll;
}



/* other page bg  */

.section-bg-img-other {
    

    /*background: url('../images/bg.png') no-repeat center center fixed;*/
    background-color: #5E646B;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-attachment: scroll;
}

/* music */
.artwork {
    width:150px;
    height: auto;
}
.music-albums {
    padding-bottom: 20px;
}

.image-theband {
    width: 100%;
    height: auto;
}



/* the band */

.thebandimages {
    width: 100%;
    height: 50%;
    margin-top: 10px;
}
.theband-text {
    color: white;
}

.center-img {
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    width: 50%;
}

.red {
    
  border: 1px solid red;
}

/* booking  */

.submit-booking {
    display: table;
    margin: 0;
}

/*.form-container {
    background-color: rgba(255, 255, 255, 0.5);
    height: 70%;
    width: 100%;
    -webkit-box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);
    box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);

} */

.booking-heading {
    color: white;
    padding-top: 30px;
}

.form-container {
    margin: 30px 0;
    height: 85%;
    width: 100%;
    -webkit-box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);
    box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);
    background-color: rgba(255, 255, 255, 0.5);
}

.form-center {
    width: 50%;
    margin: 30px auto;

}


@media (min-width: 768px) {
    .form-container {

        margin: 30px 0;
        width: 70%;
        -webkit-box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);
        -moz-box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);
        box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);

    }
}

/*@media (min-width: 1024px) {
    .form-container {
       
        height: 70%;
        width: 70%;
        -webkit-box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);
        -moz-box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);
        box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);

    }
}
