body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    min-height: 100%;
    min-height: 100vh;
    background-color: #5e646b;
    overflow-x: hidden;
}

a,
a:hover {
    color: inherit;
    text-decoration: none;
}
/* Ids to stick footer to bottom*/
#container {
   min-height:100%;
   position:relative;
   height: 100%;
}


#body {
   padding:10px;
   padding-bottom:70px;   /* Height of the footer */
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:70px;   /* Height of the footer */
  
}

/* nav and footer  */

.brand-logo {
    width: 117px;
    height: 46px;

}

.social-media {
    display: inline-block;
    font-size: 25pt;
    color: #FBFBFB;
    transition: color 0.5s ease;
    text-align: right;
    letter-spacing: 10px;
    
}

.page-footer {
    background-color: #343A40;
    height: 70px;
    width: 100%;
    margin-top: 10px;
    right: 0;
    bottom: 0;
    left: 0;

}




.footer-items {

    color: white;
    font-size: 9px;
}

.mobile-hide-footer {
    display: none;
}


   .footer-center {
        transform: translateY(50%);
    }




/* index  */

#responsive-image {
    width: 100%;
    height: auto;
}

#section-bg {
    /* background-color: #343A40; */
    height: auto;
    
}




.home-text {
    font-size: 10px;    
    margin-left: 50px;
    margin-right: 50px;
}

.home-text-container {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 30px 0px;
    -webkit-box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);
    box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);
    /*top: 90px;*/
    position: relative;
}

.home-items {
    background-color: #5e646b;
    color: white;
}
.section-headings {
    background-color :#ff5a36;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
 .video-latest {
     padding-top: 5px;
 }
 
.heading-nopad {
    padding-right: 0px !important;
    padding-left: 0px !important;
    overflow: hidden;
    background-color: red;
}
.section-text {
    color: #fff;
}

.article-images {
    width: 100%;
    
}

.index-section-bg {
    background-image: url(/assets/images/bg.png);
    
}

.index-video {
    width: 100%;
    height: auto;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%; 
}

/* bg  */

.section-bg-img {
    width: 100%;
    height: 163px;
    background: url('../images/bgnew.png') no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-attachment: scroll;
}



/* other page bg  */

.section-bg-img-other {
    

    /*background: url('/assets/images/bgnew.jpg') no-repeat center center fixed;*/
    background-color: #5E646B;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-attachment: scroll;
}

/* music */
.art-work {
    width:50%;
    height:auto;
    margin: auto;    
    display: block;
}


.row-padding {
    padding-top: 10px;
}


.image-theband {
    width: 100%;
    height: auto;
}

.music-audio {
    width: 100%;
    
}

.music-padding {
    padding-top: 10px;
}

/* the band */

.the-band-images {
   width: 100%;
    /*height: 50%;*/
    margin-top: 10px;
}

.the-band-images-big {
    width: 100%;
    margin-top: 10px;
    position: relative;
    
}
.the-band-text {
    color: white;
}

.padding-text {
    padding-top: 10px;
}

.center-img {
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    width: 50%;
}

.red {
    
  border: 1px solid red;
}

/* booking  */

.submit-booking {
    display: table;
    margin: 0;
}

/*.form-container {
    background-color: rgba(255, 255, 255, 0.5);
    height: 70%;
    width: 100%;
    -webkit-box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);
    box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);

} */

.booking-heading {
    color: white;
    padding-top: 30px;
}

.form-container {
    margin: 30px 0;
    height: 85%;
    width: 100%;
    -webkit-box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);
    box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);
    background-color: rgba(255, 255, 255, 0.5);
}

.form-center {
    width: 90%;
    margin: 10px auto;

}



/*@media (min-width: 1024px) {
    .form-container {
       
        height: 70%;
        width: 70%;
        -webkit-box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);
        -moz-box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);
        box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);

    }
}

/* Gallery */

.gallery-container {
    width: 100%;
    margin: auto;
    
}
.gallery-image {
    width: 100%;
}


.gallery-padding {
    padding-top: 20px;
}

.gallery-padding-tablet {
    padding-top: 5px;
}

/*media queries*/




@media only screen and (min-width: 768px) {
      .form-container {

        margin: 30px 0;
        width: 70%;
        -webkit-box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);
        -moz-box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);
        box-shadow: 10px 10px 53px 0px rgba(0, 0, 0, 0.41);

    }
    .home-text {
        font-size: 40px;
    }
    
    .index-video {
    width: 90%;
    height: auto;
    transform: translateX(5%);
}
    .brand-logo {
        width: 250px;
        height: 86px;
    }

    .mobile-hide-footer {
        display: inline-block;
    }
    
 
    
    .social-media {
        display: inline-block;
        font-size: 30pt;
        color: #FBFBFB;
        padding-right: 15px;
        padding-left: 15px;
        letter-spacing: 5px;
    }

    .footer-logo {
        width: 117px;
        height: 46px;


    }

    .footer-items {
        padding-top: 20px;

        font-size: 12px;
    }

    .navbar a:hover {
        color: #FF0101 !important;

    }

    .navbar a {
        transition: color 0.5s ease;
    }

    .social-media:hover {
        color: #FF0101;


    }
    .article-images {
    width: 100%;
    /*position: relative;
   left: 25%;*/

}


.padding-top-small {
    padding-top: 10px;
}

.section-bg-img {
    height: 600px;

}

.page-footer {
    height: 175px;
}

.form-center {
    width: 50%;
    margin: 30px auto;

}

.home-text-container {
    top: 160px;
}

.the-band-images {
    margin-top: 20px;
}

.art-work {
    width:308px;
    height: 308px;
   
}



.music-audio {
    width:100%;
    margin: auto;    
    display: block;
}

.gallery-padding-tablet {
    padding-top: 20px;
}

}


@media only screen and (min-width: 1024px) {
    .social-media {
        display: inline-block;
        font-size: 40pt;
        color: #FBFBFB;
        padding-right: 15px;
        padding-left: 15px;

    }
    
    .gallery-container {
    width: 70%;
    margin: auto;
}

    
    .page-footer {
    height: 155px;
}

  .index-video {
    width: 70%;
    height: auto;
    transform: translateX(22.1%);
}


.padding-top-small {
    padding-top: 0px;
}


/*.art-work {
   
    transform: translateX(30%);
    position: relative;
}*/
.music-audio {
    width:70%;
    margin: auto;    
    display: block;
    
}
}


@media only screen and (min-width: 2560px) {
    .music-audio {
        width: 50%;
    }
}
